.container-fluid{
    background: hsl(0, 0%, 90%);
    box-shadow: 0px 4px 5px #777;
}

.titulo{
    font-family: 'Quicksand', sans-serif
}

#registrate{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 3rem!important;
    text-align: 50%!important;
}
