*¨{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.card-1{
    font-family: 'Quicksand', sans-serif;
}

.card-2{
    font-family: 'Quicksand', sans-serif;
}

.card-3{
    font-family: 'Quicksand', sans-serif;
}

.card-4{
    font-family: 'Quicksand', sans-serif;
}

.flooter{
    justify-content: center;
    align-content: center;
}